@using Ecommerce.Web.Components.Contant;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <a class="navbar-brand" href="">My App</a> *@
        <img src="https://www.preview.pichforest.com/samply/layouts/assets/images/logo-light.png" alt="logo-light" height="23">
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column pt-3 mt-2">
        <div class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboards
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="@Routers.counter.ToString()">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="@Routers.weather.ToString()">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="@Routers.fetchdata.ToString()">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>

        <div class="nav-item ">
            <NavLink class="nav-link" href="@Routers.stadiums.ToString()">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stadiums
            </NavLink>
        </div>

    </nav>
</div>

